<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781215030340-0iaehv2e3noo49gfks67a07ut7lj9qpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781215030340-0iaehv2e3noo49gfks67a07ut7lj9qpr</string>
	<key>API_KEY</key>
	<string>AIzaSyCqdVA7FBWES4VSL3_duIltdHaRcNbipf0</string>
	<key>GCM_SENDER_ID</key>
	<string>781215030340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusufmertyildiz.MyInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>myinstagramclone-aa7b6</string>
	<key>STORAGE_BUCKET</key>
	<string>myinstagramclone-aa7b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781215030340:ios:6bcddc2280ec7b81767011</string>
</dict>
</plist>